#scroll {
/*margin:100px auto;*/
overflow-x: scroll;
overflow-y: auto;
width:100%;
}
#scroll ul {
display:table;
white-space:nowrap;
list-style:none;
}
#scroll li {
display:table-cell; 
padding: 10px;
text-align:center;       
}
#scroll img {
display:block;
opacity: 0.6;
/*border:5px solid #A3CBE0;
margin:15px 15px 15px 15px;*/
}

#scroll img:hover {
  opacity: 1.0;
}

#scroll span {
padding:5px 0 0;
display:block;
color:#FFF;
}

#scroll span:hover {
  color: orange;
}

.small-img {
  width: 400px;
  /*height:200px;*/
  vertical-align:middle;
}
