  /*Main Page Layout*/
  body,
  html {
    margin:0;
    padding:0;
    color:#B2382D;
    background:#7F7F7F;
    font-family: 'Economica', sans-serif;
  }
  #wrap {
    width:100%;
    margin: 0 auto;
    /*background:#FFF6E5;*/
  }
  #content {
    width: 70%;
    margin: 0 auto;
  }
  #header {
    /*padding:5px 10px;*/
    background:#2E2E2E;
    width: 100%;
  }

  #nav-list li {
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
  }

  h1 {
      margin:0;
    }

  #instr-tab {
    cursor: pointer;
  }

  #classif {
    /*float:left;*/
    /*width:100%;*/
  }

  #classify {
    width:65%;
    float: left;
    /*background:#7ECEFD;*/
  }

  #sidebar {
    float:right;
    width:35%;
    padding-top: 55px;
    /*background:#FF7F66;*/
  }

  #footer {
    clear:both;
    padding:5px 10px;
    text-align: center;
  }
  #footer p {
    margin:0;
    }
  * html #footer {
    height:1px;
  }

  .left {
    float:left;
    width: 20%;
  }

  .right {
      float:right;
      /*width: 10%;*/
  }

  #overlay {
    position: fixed;
    top: 80px;
    left: 15%;
    width: 70%;
    height: 10%;
    background-color: #f0f0f0;
    border: 1px solid #333;
    border-radius: 15px;
    filter:alpha(opacity=1);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
    z-index: 10000;
    padding: 10px;
    margin-left: auto;
    margin-right: auto; 
    overflow-x: auto;
    text-align: center;
    color: black;
}

  /*Element Styles*/
  .button {
    color: #900;
    font-weight: bold;
    border: 1px solid #900;
  }
   
  .button:hover {
    color: #FFF;
    background: #900;
    cursor: pointer;
  }

  ul {
    list-style-type: none;
  }

  img {
    max-width: 100%;
    cursor: pointer;
  }

  table {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
  }

  th {
    font-weight: bold;
    font-size: 25px;
  }

  td:hover {
    background: #fbf8e9;
    cursor: pointer;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  td {
    padding: 10px;
    text-align: left; 
    border-top: 1px solid #ccc;
  }

  a  {
    text-decoration: none;
    color: inherit;
  }

